/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/Artist.class
/target/classes/ui/pages/artist_page.fxml
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/previews/ArtistPreview.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/controllers/AuthenticationController.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/authentication/AuthenticationFactory.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/authentication/AuthenticationManager.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/authentication/AuthenticationManagerImplementation.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/authentication/AuthResult.class
/Logs/CommuniTunes.log
/Logs/CommuniTunes.log.1
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/ConfigReader.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/ConfigReaderFactory.class
/target/test-classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/ConfigReaderFactoryTest.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/ConfigReaderType.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/src/sample/Controller.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/Entity.class
/target/classes/ui/pages/general_layout.fxml
/target/classes/ui/pages/homepage_example.fxml
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/controllers/HomepageExample.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/controllers/LayoutController.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/LayoutManager.class
/target/classes/log4j.properties
/target/classes/ui/pages/login.fxml
/target/classes/ui/img/logout.png
/target/classes/ui/img/magnifier.png
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/Main.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/MongoDriver.class
/target/classes/ui/img/music.png
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/Neo4jDriver.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/Persistence.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/PersistenceFactory.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/PersistenceImplementation.class
/target/test-classes/it/unipi/iit/inginf/lsmdb/communitunes/persistence/PersistenceImplementationTest.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/exceptions/PersistenceInconsistencyException.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/Review.class
/target/classes/Settings.xml
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/Song.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/previews/SongPreview.class
/target/classes/ui/style/style.css
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/TestMain.class
/src/main/java/it/unipi/iit/inginf/lsmdb/communitunes/TestMain.java
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/frontend/controllers/UIController.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/User.class
/target/classes/ui/img/user.png
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/entities/previews/UserPreview.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/xml/Xml.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/XmlConfigReader.class
/target/test-classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/configurations/XmlConfigReaderTest.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/xml/XmlReader.class
/target/classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/xml/XmlReaderImplementation.class
/target/test-classes/it/unipi/iit/inginf/lsmdb/communitunes/utilities/xml/XmlReaderImplementationTest.class
