.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.communitunes-bg {
	-fx-background-color:  #001a4d;
}

.circle-image{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.hover-btn{  
  -fx-border-color: white;
  -fx-font-family: "Book Antiqua";
  -fx-font-size: 16px;
  -fx-background-color:transparent;
  -fx-text-fill:white;
}

.hover-btn:hover{  
  -fx-background-color:white;
  -fx-text-fill: #001a4d;
}

.hover-btn-green:hover{  
	-fx-border-color: green;
  -fx-background-color:green;
  -fx-text-fill: black;
}

.hover-btn-yellow:hover{  
	-fx-border-color: yellow;
  -fx-background-color:yellow;
  -fx-text-fill: black;
}

.user-info-label{
	-fx-text-fill: white;
	-fx-font-family: "Book Antiqua";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.user-info-text{
	-fx-text-fill: white;
	-fx-font-size: 18px;
}

.artist-site .song-site{
	-fx-text-fill: white;
	-fx-font-size: 15px;
	-fx-font-family: "Book Antiqua";
	-fx-cursor: HAND;
}