.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane
{
    -fx-padding: 0;
}

.circle-image{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.hover-btn{  
  -fx-background-color:transparent;
  -fx-text-fill:white;
}

.hover-btn:hover{  
  -fx-background-color:white;
  -fx-text-fill: #001a4d;
}

.user-info-label{
	-fx-text-fill: white;
	-fx-font-family: "Book Antiqua";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.user-info-text{
	-fx-text-fill: white;
	-fx-font-size: 18px;
}